# Try These New Tests

In [ ]:
import psycopg2
conn = psycopg2.connect("host='localhost' port='5432' dbname='data_dump' user='postgres' password='SUMIran'")
cur = conn.cursor()

In [2]:
def testforstd(student_id):
    
    cur.execute(
            "select std_id from student_details where id = %s",
             (str(student_id),)
             )
    std_id = cur.fetchone()[0] 
    
    cur.execute(
            "select id from testlists where std_id = %s",
             (str(std_id) ,)
             )
    test_name = cur.fetchall()
   
    tn = list(sum(test_name, ()))
    tn = set(tn)
    return tn

In [3]:
def testgiven(student_id):
    testgiven = set()
    cur.execute(
            "select test_id from comparisons where student_id = %s",
             (str(student_id) ,)
             )
    
    ott = cur.fetchall()
    out = list(sum(ott, ()))
    out = set(out)
    return out

In [ ]:
n = input ('enter the student ID ')
x = testgiven(n).symmetric_difference(testforstd(n))


for a in x: 
    cur.execute(
            "select test_name from testlists where id = %s",
             (str(a) ,)
             )
    ott = cur.fetchall()
    out = list(sum(ott , ()))
    print(out)

In [ ]:
conn.rollback()